.sidenav-container {
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url("src/assets/images/background-image.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    
    &_sidenav {
      width: 600px;

    &__close {
        right: 0;
        position: absolute;
        margin: 8px 25px 20px 5px;
    }
    }
    &_content {
  
      .application-wrapper {
        padding: 25px;
  
        &_content {
          display: flex;
  
          .loan-form  {
            margin: 25px;
          }
  
          &_item {
            flex: 1;
            margin: 25px;
  
            .loan-form-field {
              display: block;
              
            .slider {
                display: block;
              }
  
              .slider-hint {
                display: block;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }
  